.monoton-regular {
  font-family: "Monoton", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
position: fixed;}


#backgroundbanner {
  width: 1000%;
  height: 90px;
}

#Name{
  font-family: Monoton;
  position: absolute;
  color: white;
  top: 20px;
  left: 15px;
}

.Header-button {
  display: inline-block; 
  margin: 0 10px; /* Espacio entre los elementos */
  color: rgb(255, 255, 255); /* Asegúrate de que el texto sea visible */
  top: -55px; /* Ajusta la posición vertical según sea necesario */
  position: relative;
  left: 890px;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
}
