.monoton-regular {
  font-family: "Monoton", system-ui;
  font-weight: 400;
  font-style: normal;
}

#AllBanner {
position: fixed;
z-index: 1;
}


#backgroundbanner {
  width: 1000%;
  height: 90px;
}

#Name{
  font-family: Monoton;
  position: absolute;
  color: white;
  top: 0px;
  left: 15px;
}

.Header-button {
  display: inline-block; 
  margin: 0 10px; 
  color: rgb(255, 255, 255); 
  top: -55px;
  position: relative;
  left: 890px;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
}
